.show-more{
    display: block;

    width: 38rem;
    height: 6.5rem;
    margin: 4.1rem auto 0;

    font-size: 1.4rem;
    font-weight: 400;
    color: $black;

    outline: none;
    background: none;

    border: 1px solid #CACACA;
    border-radius: 1rem;

    transition: background-color .2s linear;

    @include breakpoint($mobile-bp){
        width: 30rem;
        margin-top: 1rem;
        margin-bottom: 2.5rem;
    }

    &:hover,
    &:focus{
        background-color: #F3F3F3;
    }

    &:active{
        background-color: darken(#F3F3F3, 2%);
    }
}