<div class="container container--footer">
    <footer class="footer">
        <div class="footer__left">
            <div class="footer__title">Успей купить!</div>
            <div class="footer__description">Подпишись и успей словить все акции</div>
        </div>
        <div class="footer__right">
            <form class="form" action="/" method="post">
                <div class="form__group">
                    <input class="form__control" type="email" id="form__control-mail" placeholder="Email" required>
                    <button class="form__control form__control--btn" type="submit">Подписаться</button>    
                </div>
                <div class="form__checkbox-wrapper">
                    <input class="form__input form__input_checkbox" type="checkbox" id="form_input-checkbox" placeholder="&#8805; 1" required>
                    <label class="form__label form__label_checkbox" for="form_input-checkbox">Подписаться на новости</label>
                </div>
            </form>
        </div>
    </footer>
</div>

