<header class="header">
    <div class="container container--header">
        <div class="nav__shadow"></div> 
        <a class="header__logo" href="/">
            <img src="assets/images/logo.svg" alt="logo">
        </a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="/">Main</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Gallery</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">News</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Profile</a>
                </li>
            </ul>
        </nav>
        <button class="burger" type="button">
            <span>Открыть навигацию</span>
        </button>
        <div class="header__right">
            <div class="header__phone">+544 3490 00000</div>
            <div class="header__call">Звони скорее!</div>
        </div>        
    </div>
    <div class="header__img" id="top">
        <img src="assets/images/header.jpg" alt="header image">
    </div>
    <div class="container">
        <h1 class="header__title">Найдено 349 котов</h1>
    </div>
</header>
